footer{
    margin-top: $footer-top-margin;
    padding: $footer-padding;
    background-color: $footer-background-color;
    border-radius: $footer-border-radius;
    h6{    
        font-size: 1em;
    }
}