
// forecast-list
$forecast-list-top-margin: 5%;
$forecast-list-margin: 0 auto;

$forecast-list-forecast-background-margin: 10px;
$forecast-list-forecast-background-color: #ffffff;
$forecast-list-forecast-background-width: 200px;
$forecast-list-forecast-background-height: 200px;

$desktop-forecast-list-top-margin: 15%;
$desktop-forecast-list-width: 50%;

$desktop-forecast-list-forecast-background-width: 100px;
$desktop-forecast-list-forecast-background-height: 200px;
