// search-frame
$homepage-top-margin: 15%;
$homepage-weather-app-title-bottom-margin: 50px;

$ipad-homepage-weather-app-title-bottom-margin: 50px;

$desktop-homepage-weather-app-title-bottom-margin: 50px;

