// sun
$sun-color: #ffffff;
$sun-margin-top: 5%;
$sun-margin: 0 auto;
$sun-width: 200px;
$sun-height: 200px;;

$ipad-sun-width: 45%;
$ipad-sun-height: 200px;

$desktop-sun-margin: 3% auto;
$desktop-sun-height: 300px;
$desktop-sun-flex: 0 0 auto;
$desktop-sun-padding-top: 200px;

$desktop-sun-timing-color: #ffffff;
$desktop-sun-timing-margin: 3% 1%;
$desktop-sun-timing-height: 300px;
$desktop-sun-timing-width: 50%;
$desktop-sun-timing-flex: 0 0 auto;
$desktop-sun-timing-padding-top: 200px;

