
// toggle

$label-before-height: 1.4em;
$label-before-width: 1.4em;
$label-before-left: 0.2em;


$toggle-left: 5%;
$toggle-height: 30px;
$toggle-width: 30px;
$toggle-top-margin: 10px;
$toggle-right-margin: 20px;

$input-toggle-custom-opacity: 0%;


$input-toggle-custom-label-before-width: 4em;
$input-toggle-custom-label-before-height: 2em;
$input-toggle-custom-label-before-right-margin: 0.25em;
$input-toggle-custom-label-before-transition: 500ms;
$input-toggle-custom-label-before-background-color: #AAD9BB;

$input-toggle-custom-label-after-width: 2em;
$input-toggle-custom-label-after-height: 2em;
$input-toggle-custom-label-after-left: 0.3em;
$input-toggle-custom-label-after-background-color: #80BCBD;;

$input-toggle-custom-checked-label-before-background-color: #FFDD95;
$input-toggle-custom-checked-label-after-background-color: #FAEF9B;

$ipad-input-toggle-custom-checked-label-after-background-color: #FAEF9B;

$desktop-input-toggle-custom-label-before-width: 6em;
$desktop-input-toggle-custom-label-before-height: 3em;
$desktop-input-toggle-custom-label-after-width: 3em; 
$desktop-input-toggle-custom-label-after-height: 3em;
$desktop-input-toggle-custom-label-after-left: 0.2em;
$desktop-input-toggle-custom-label-after-background-color: #80BCBD;

$desktop-input-toggle-custom-checked-label-after-background-color: #FAEF9B;

